.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .logo-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .title-container {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    color: #135e3e;
  }
  
  .subtitle {
    font-size: 12px;
    color: #135e3e;
  }
  